.base {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.todo-item:last-child {
    border-bottom: none;
}

.todo-text {
    flex-grow: 1;
    margin-right: 10px;
}

.todo-actions {
    width: 70px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.todo-actions:hover {
    background-color: #b30c00;
}

.add-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.add-todo input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 10px;
}

.add-todo button {
    width: 70px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.add-todo button:hover {
    background-color: #0056b3;
}